html {
  font-size: 16px;
}

html,
body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  height: 100%;
}

h1 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

a {
  color: var(--brand);
  font-weight: bold;
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  text-decoration: underline;
}

a[aria-disabled] {
  color: rgb(0 0 0 / 50%);
  pointer-events: none;
}

button {
  appearance: none;
  background: var(--brand);
  border: 1px solid var(--brand);
  color: var(--brand-text);
  cursor: pointer;
  min-width: 150px;
  padding: 10px 20px;
  text-align: center;
}

button[disabled] {
  opacity: 0.3;
}

button:focus,
button:hover,
button:active {
  background-color: var(--brand-highlight);
}

.button-transparent {
  background: transparent;
  border: 0;
  min-width: 70px;
  padding: 0;
}

.button-secondary {
  background: #d6d6d6;
  border-color: #d6d6d6;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-right: 40px;
  min-height: 46px;
}

.button-secondary:hover,
.button-secondary:focus {
  color: #fff;
}

.button-danger {
  background: #ac1b11;
  border-color: #ac1b11;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  min-height: 46px;
}

.button-link {
  background: transparent;
  border: 0;
  color: #000;
  font-weight: bold;
  margin-right: 40px;
  min-width: 70px;
  padding: 0;
}

.button-link:hover,
.button-link:focus {
  background: transparent;
  border: 0;
}

label {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 4px;
  text-transform: uppercase;
}

img {
  height: auto;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
